/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  /*width: 228px;*/
  margin: 0 0 0;
  padding: 0;
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.bs-docs-sidebar.affix{
  position: fixed;
  z-index: 1000;
} 


/*custom*/
.side-list {
  list-style: none;
  margin: 0;
}

.side-list > li {
  line-height: 25px;
}

.chart_box{
  margin: 0 0 20px;
  position: relative;
  z-index: 1;

}

/*nav style*/
.navbar .brand{
  font-weight: 800;

}

.nav{
  font-weight: 600;
}

.navbar .navbar-inner .brand{
  color: #00A2E8;
}

.dropdown-menu >li >a{
  color: #08c;
  font-weight: 600;
}



.table-caption{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #3E576F;
  font-weight: 600;
  line-height: 50px;
}

#taiyuan{
  display: none;
}

.table{
  background-color: #EEEEEE;
}

.well h2.title{
  font-size: 12px;
  margin: 0 -10px;
  padding: 0 10px;
  margin-bottom: 8px;
  color: #999;
  line-height: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  text-align: center;
}

.breadcrumb{
  margin: 0;
  background-color: transparent;
}
